{
  "plugins": [
    "transform-object-rest-spread",
    ["module-resolver", {
      "root": ["./src"],
    }]
  ],
  "presets": [
    [
      "env",
      {
        "loose": true,
        "useBuiltIns": true,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "sourceMaps": true,
}